@import url("https://fonts.googleapis.com/css2?family=Merinda:wght@400;700&family=Raleway:wght@400;700&display=swap");

:root {
  --font-body: Raleway, sans-serif;
  --font-headline: Merinda, serif;
  /* colors */
  /* --primary-color: #2674b5;
  --secondary-color: #d474e7;
  --tertiary-color: #223259;
  --yellow: #ffca07;
  --primary-lighter: #7198b8; */
  --primary-color: #65176e;
  --secondary-color: #a4161a;
  --tertiary-color: #1b1725;
  --light: #fafaef;
  --error: #2674b5;

  --border-radius: 3px;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--tertiary-color);
}

#content {
  padding: 2em;
  max-width: 960px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--primary-color);
  text-align: center;
  font-family: var(--font-headline);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
}

h3 {
  font-size: 1.5rem;
}

a,
li {
  font-family: var(--font-body);
  text-decoration: none;
  color: var(--tertiary-color);
  cursor: pointer;
  font-weight: bold;
  list-style-type: none;
}

img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.logo {
  /* line-height: 60px; */
  /* width: 245px; */
  /* max-height: 60px; */
  overflow: hidden;
  display: flex;
}
.logo img {
  max-width: 100%;
  max-height: 60px;
  margin-bottom: 2px;
  float: left;
}
.logo a {
  text-decoration: none;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button[type="submit"], .button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: var(--light);
  margin: auto;
  display: block;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--error);
}

.button, #register {
  color: var(--light);
  margin-bottom: 20px;
}

.divider {
  border-bottom: 2px solid var(--tertiary-color);
}

.divider li {
  padding: 0;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}



/*Title for Top Products*/
.title {
  text-transform: capitalize;
}

/* checkout styles */
.checkout-form {
  padding: 0.5em;
}
.checkout-form label {
  display: block;
}
.checkout-form input {
  width: 100%;
  font-size: 1.2em;
}

.checkout-summary > ul {
  padding-left: 0;
  list-style-type: none;
}
.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-summary input {
  width: 25%;
  font-size: 1em;
}

/*
PB: Superscript Trello Card, W3
    Add # of items in cart over the cart icon
    https://dev.to/vinodsys/css-shopping-cart-icon-with-number-of-items-52a0
& https://codepen.io/ehooks/pen/VgwVJR
*/
.cartItemCount[cartItemCount] {
  content: attr(cartItemCount);
  background: var(--primary-color);
  padding: 0 5px;
  right: -5px;
  top: 35px;
  position: absolute;
  font-size: 60%;
  text-align: center;
  font-weight: bold;
  color: var(--light);
  border-radius: 70%;
  line-height: 1.3em;
}

/* End cart icon styles */

.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}

/* CSS for store products for sale */
.product-container {
  display: flex;
  flex-flow: wrap;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.product-card {
  margin: 10px;
  border: var(--secondary-color);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 15px;
}

.product-card img {
  width: 30%;
  height: auto;
  object-fit: cover;
}

.product-info {
  margin-top: 10px;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-description {
  font-size: 0.8em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  color: var(--tertiary-color);
  margin-bottom: 5px;
  padding: 20px;
}

.product-rating {
  font-size: 0.8em;
  color: var(--primary-color);
  font-weight: bold;
}
/* End of CSS for store products for sale */

/* FORMS for LOGIN AND REGISTRATION PAGES */
form,
.form-group {
  margin: 0;
  padding: 0; /* Remove default padding as well (optional) */
}

form {
  margin: 1em auto;
  padding: 1em;
  text-align: left;
  background-color: var(--light);
  border-radius: var(--border-radius);
  text-align: center;
  border: 2px solid var(--primary-color);
  box-shadow:
    0 0 5px rgba(0, 0, 0, 0.1),
    0 2px 3px var(--error);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
}

label {
  flex: 0 0 100px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex: 1;
  padding: 5px;
  border-radius: var(--border-radius);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  width: calc(100% + 35%); /* Increase width by 20px on focus */
  padding: 7px; /* Increase padding on focus (optional) */
  color: var(--primary-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


/* Clear floats after the columns */
.form-row:after {
  content: "";
  display: table;
  clear: both;
}

input:required:invalid,
input:focus:invalid {
  color: var(--error);
  font-weight: bold;
  border-color: var(--error);
}

/* spans with directions for passwords and other criteria*/
.instructions {
  color: var(--secondary-color);
  list-style: none;
  font-size: 0.65rem;
  /*0.65rem looks better, but for accessibility, needs to be at least 12px*/
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.message {
  display: none;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15% 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity_container {
  grid-row: 1/2;
  grid-column: 3/4;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* Evenly spaces items horizontally */
  padding: 5px; /* Optional: Adds some padding for better spacing */
  border: 1px solid var(--tertiary-color);
}
.cart-card__quantity {
  grid-row: 1/2;
  grid-column: 3/4;
  width: 40%;
  text-align: center;
  padding: 5px;
}
.cart-card_addItem,
.cart-card_reduceItem {
  padding: 5px;
  width: 40%;
  color: rgb(14, 13, 13);
  text-align: center;
}
.cart-card_addItem:hover,
.cart-card_reduceItem:hover {
  background-color: blue;
  color: white;
}

.cart-card__price {
  grid-row: 2/3;
  grid-column: 3/4;
}
.remove-from-cart {
  grid-row: 1/2;
  grid-column: 4/5;
  color: red;
  border: 1px solid red;
  padding: 4px;
  margin-left: 25px;
  width: 2.5rem;
  text-align: center;
}
.remove-from-cart:hover {
  color: white;
  background-color: red;
}

/* Style to control cart total*/
.hide {
  display: none;
}

.show {
  display: block;
  text-align: Left;
  padding: 1rem;
}
#checkout {
  padding: 1rem;
}

.cartCheckoutButton {
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  text-decoration: none;
}
.cartCheckoutButton:hover {
  background-color: blue;
}

/* Nav links  */
/* .primarynavbar */
.nav {
  color: var(--tertiary-color);
  font-family: var(--font-body);
}

.nav ul {
  list-style-type: none;
  background-color: var(--secondary-color);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.nav li {
  font-size: 1.2rem;
  text-decoration: none;
  padding: 8px;
}

.nav a {
  display: block;
  color: var(--light);
  text-decoration: none;
}

.nav a:hover{
  color: var(--error);
}

.types {
  text-decoration: none;
  list-style-type: none;
  color: var(--secondary-color);
  text-align: center;
  font-family: var(--font-body);
  padding: 8px;
  font-weight: bold;
  display: block;
}

footer {
  font-size: var(--small-font);
  padding: 1em;
  width: 100%;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--light);
  font-family: var(--font-headline);
  font-weight: bold;
}

.pokemon-types-list,
.type-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

/* pokemon cards on types page*/
.main-content {
  padding: 0.5em;
  color: var(--secondary-color);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.pokemon-types-list a,
.type-list a {
  text-decoration: none;
  color: var(--secondary-color);
}

.main-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.main-content li {
  padding: 0.25em;
  margin-bottom: 10px;
  text-align: center;
}

.main-content img {
  max-width: 125px;
  max-height: auto;
  object-fit: cover;
}

/* User greeting and text animation */
.greeting {
  font-size: var(--large-font);
  font-family: var(--font-body);
  text-align: center;
  padding: 1em;
  font-weight: bold;
  width: 500px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  animation: growshrink 2s ease-in-out 1 reverse;
}
@keyframes growshrink {
  from {
    font-size: 1em;
  }
  to {
    font-size: 2.75em;
  }
}

/* Pokeball animation on Home page */
.pokeContainer {
  justify-content: center;
  align-items: center;
  display: flex;
}

#Layer_1 {
  /* animation: bouncy 1s infinite alternate; 
  position: absolute; */
  animation: heartbeat 2s ease 0s infinite normal none;

}
@keyframes heartbeat {
  /* from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  } */
  0% {
    animation-timing-function: ease-out;transform: scale(1);transform-origin: center center;
  }
  10% {
    animation-timing-function: ease-in;transform: scale(0.91);
  }
  17% {
    animation-timing-function: ease-out;transform: scale(0.98);
  }
  33% {
    animation-timing-function: ease-in;transform: scale(0.87);
  }
  45% {
    animation-timing-function: ease-out;transform: scale(1);
  }
}


@media screen and (min-width: 650px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15% 15%;
  }

  .nav {
    flex-flow: row wrap;
    padding: 0;
  }

  .nav li {
    float: left;
    padding: 10px;
  }

  .pokeTypes {
    flex-flow: row wrap;
  }

  .types li {
    float: left;
    padding: 15px;
  }

  .main-content ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    grid-gap: 15px;
  }

  form {
    width: 500px;
    padding: 20px;
  }

  .form-group {
    /* Adjust for horizontal layout on larger screens */
    flex-direction: row; /* Align elements horizontally */
    margin-bottom: 10px; /* Add some space between groups */
  }
  
}
